@{
    Layout = null;
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>What??</title>        
    </head>
    <body>
        You are not supposed to be here
    </body>
    </html>
